.muttrc
.ssh
.bash_history
.ccache
.cache
.local
.mozilla
.config
.pki
Desktop
Documents
Downloads
doc
git
testing
.VirtualBox
.Xauthority
prj7
.viminfo
.histfile
.gnupg
.subversion
.mutt/cache
.kingsoft
.mcabber
.zcompdump
